<div class="invoice-container card shadow-sm border-0">

  <div class="card-header gradient-header text-white py-3">
    <h5 class="mb-0 fw-semibold">Suppliers Management</h5>
  </div>

  <div class="card-body p-4 small">

    <div class="row g-3 mb-4">
      <div class="col-md-4">
        <label class="form-label fw-semibold small">Supplier Name</label>
        <input type="text" class="form-control form-control-sm">
      </div>

      <div class="col-md-4">
        <label class="form-label fw-semibold small">Phone</label>
        <input type="text" class="form-control form-control-sm">
      </div>

      <div class="col-md-4">
        <label class="form-label fw-semibold small">GST No</label>
        <input type="text" class="form-control form-control-sm">
      </div>
    </div>

    <button class="btn btn-sm btn-success mb-3">Save Supplier</button>

  </div>
</div>