<div class="card shadow-sm border-0">

  <!-- HEADER -->
  <div class="card-header gradient-header text-white py-3 d-flex justify-content-between align-items-center">
    <div>
      <h5 class="mb-0 fw-semibold">Attendance Management</h5>
      <small class="opacity-75">Track Employee Attendance</small>
    </div>

    <button class="btn btn-sm btn-light text-dark"
     (click)="addAttendance()">
      + Mark Attendance
    </button>
  </div>

  <div class="card-body p-4 small">

    <!-- FILTER -->
    <div class="row g-3 mb-4">

      <div class="col-md-3">
        <input type="date" class="form-control form-control-sm">
      </div>

      <div class="col-md-3">
        <select class="form-select form-select-sm">
          <option>All Employees</option>
          <option>Sales</option>
          <option>HR</option>
          <option>Accounts</option>
        </select>
      </div>

      <div class="col-md-2">
        <button class="btn btn-dark btn-sm w-100">
          Load
        </button>
      </div>

    </div>

    <!-- TABLE -->
    <div class="table-responsive">

      <table class="table table-sm table-hover align-middle">

        <thead class="table-light">
          <tr class="text-uppercase small">
            <th>Employee</th>
            <th>Date</th>
            <th>Status</th>
            <th>Check In</th>
            <th>Check Out</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let a of attendanceList">
            <td class="fw-semibold">{{a.employee}}</td>
            <td>{{a.date | date:'dd MMM yyyy'}}</td>
            <td>
              <span class="badge bg-success" *ngIf="a.status=='Present'">Present</span>
              <span class="badge bg-danger" *ngIf="a.status=='Absent'">Absent</span>
            </td>
            <td>{{a.checkin}}</td>
            <td>{{a.checkout}}</td>
          </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>