<div class="card shadow-sm border-0">

  <div class="card-header gradient-header text-white d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Employee Management</h5>
    <button class="btn btn-light btn-sm">
      Save Employee
    </button>
  </div>

  <div class="card-body small">

    <div class="row g-3">

      <div class="col-md-4">
        <label>Employee ID</label>
        <input class="form-control form-control-sm">
      </div>

      <div class="col-md-4">
        <label>Name</label>
        <input class="form-control form-control-sm">
      </div>

      <div class="col-md-4">
        <label>Email</label>
        <input class="form-control form-control-sm">
      </div>

      <div class="col-md-4">
        <label>Phone</label>
        <input class="form-control form-control-sm">
      </div>

      <div class="col-md-4">
        <label>Department</label>
        <select class="form-select form-select-sm">
          <option>HR</option>
          <option>Sales</option>
          <option>Accounts</option>
          <option>IT</option>
        </select>
      </div>

      <div class="col-md-4">
        <label>Designation</label>
        <input class="form-control form-control-sm">
      </div>

      <div class="col-md-4">
        <label>Salary</label>
        <input class="form-control form-control-sm">
      </div>

      <div class="col-md-4">
        <label>Joining Date</label>
        <input type="date" class="form-control form-control-sm">
      </div>

      <div class="col-md-4">
        <label>Status</label>
        <select class="form-select form-select-sm">
          <option>Active</option>
          <option>Inactive</option>
        </select>
      </div>

    </div>

  </div>
</div>